
body{
	background-color: seashell;
	height: 100%;
	width:100%
	}
	/*h1{
	margin-top: 10px;
	color: #0bd77e;
	text-transform: uppercase;
	font-weight: bolder;
	text-decoration: transparent underline;
	transition: 0.5s;
	
}x
.imgg{
	height: 200px;
	width: 200px;
	border-color: white;
	border-width: 20px;
	padding: 5px;
	border-style: solid;
	background-color: white;
	display: inline;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 15px;
}
#collage{
	display:block;
	margin-top: 30px;
	
}
#collage1{
	display:block;
	margin-top: 30px;
}
#collage2{
	display:block;
	margin-top: 30px;
}
#collage3{
	display:block;
	margin-top: 30px;
}
#heading{
	margin-left: 400px;
}
h1:hover{
	text-decoration: black underline;
}
//**?**/
.bg{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 40px 20px 0px 20px;
    }
.bg .heading h1{
	font-size: 3em;
	font-weight: bolder;
	border-bottom: 3px solid #222 ;
	padding-bottom: 20px;
}
.bg .heading{
	width:50%
	padding-bottom: 50px;

}
.bg .box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.bg .box .dream{
	display: flex;
	flex-direction: column;
	width: 32.5%;

}
.bg .box .dream img{
	width: 100%;
	padding-bottom: 15px;
	border-radius: 5px;

}
#c{
	border-radius: 100%;
}
button{
	background-color: black;
	font-family: cursive;
	color: white;
	letter-spacing: 5px;
	height: 30px;
	width: 76;
	margin-top: 30px;
	padding: 2px;


}